# Database
DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/dbname
DB_POOL_SIZE=10
DB_MAX_OVERFLOW=20

# PostgreSQL
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=dbname

# App
APP_NAME=API
# Set DEBUG=true for colored human-readable logs, and DEBUG=false for JSON structured logs in Production.
DEBUG=true
API_PREFIX=/api


TELEGRAM_BOT_TOKEN=
